body {
    background-color: white;
    color: black;
}

// 섹션 공통 요소
section {
    padding: 40px;

    @media (max-width: 800px){
        padding: 20px;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}
